body {
margin:0px;
padding:0px;
}

h1, h2 {
text-align:center;
}

h3 {
float:left;
width:100%;
}

.letter-div {
margin:auto;
width:80%;
}

.letter {
width:43%;
float:left;
border:1px solid black;
margin:20px;
padding:10px;
}

ul {
margin:auto;
width:80%;
}

li {
list-style-type:none;
display:inline-block;
padding:10px;
margin:20px;
background-color:lightblue;
width:130px;
text-align:center;
}
