body {
padding-top: 45px;
background-color:white;
}

.navbar-default {
position:fixed;
margin-bottom:0px;
}

.spacer {
height:0px;
}

#wrapper {
display: block;
margin: auto;
width: 100%;
height: 80%;
background-image:url('/static/images/other_images/Wyoming_and_Tonawanda.jpg');
background-size:cover;
background-repeat:no-repeat;
text-align:center;
}


#title {
padding-top: 15px;
font-size:3.5em;
color:white;
font-family: "Sahitya";
margin:auto;
}

#subtitle {
font-size:30px;
color:white;
padding:10px;
font-family: "Amiri";
position: relative;
margin: auto; 
}

@media screen and (max-width: 350px) {
    #subtitle {
        display: none;
    }
}

#menu {
opacity:0;
display:none;
position:absolute;
bottom:0px;
height:0px;
width:100%;
background-color:lightgrey;
}

#menu h1 {
text-align:left;
padding:10px;
}

.menu-item {
position:absolute;
overflow:hidden;
height:100px;
width:100px;
background-repeat:no-repeat;
background-size:cover;
border-radius:10px;
}

.menu-item:hover {
background-color:black;
opacity:.5;
cursor:pointer;
}

.row img {
margin-left: auto;
margin-right: auto;
left:0;
right:0;
}

@media (max-width: 600px) {
	.col-xxs-11 {
		float: left;
}

	.col-xxs-12 {
		width: 100%;
	}
}

.hidden-xxs {
	display: block !important;
}

@media (max-width: 600px) {

    .hidden-xxs {
        display: none !important;
    }

}
@media (min-width: 601) and (max-width:901) {

.hidden-xxs {
	display: none !important;
}
}

.caption {
    text-align:center;
}



#container {
background-color: #C6D1DC;

}



#content {
margin:auto;
color:black;
width:80%;
}

.col-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
color:black;
}

a:hover {
color:#333333;
}

h2 {
color: black;
}

p {
color: black;
}
