<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{STATIC_URL}}js/misc/bootstrap.min.js"></script>

<!-- Easing - for transitions and effects -->
<script src="{{STATIC_URL}}js/misc/jquery.easing.1.3.js"></script>

<!-- background image strech script -->
<script src="{{STATIC_URL}}js/misc/jquery.backstretch.min.js"></script>
<!-- background image fix for IE 9 or less
- use same background as set above to <body> -->
<!--[if lt IE 9]>
<script type="text/javascript">
$(document).ready(function(){
jQuery("#outer-background-container").backstretch("assets/images/other_images/bg5.jpg");
});
</script> 
<![endif]-->  

<!-- detect mobile browsers -->
<script src="{{STATIC_URL}}js/misc/detectmobilebrowser.js"></script>

<!-- owl carousel js -->
<script src="{{STATIC_URL}}js/misc/owl.carousel.min.js"></script>

<!-- Custom functions for this theme -->
<script src="{{STATIC_URL}}js/misc/functions.js"></script>
<script src="{{STATIC_URL}}js/misc/initialise-functions.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/imBookFlip/jquery.imBookFlip-1.2.js"></script>

<script src="{{STATIC_URL}}js/misc/custom.js"></script>
<!-- IE9 form fields placeholder fix -->
<!--[if lt IE 9]>
<script>contact_form_IE9_placeholder_fix();</script>
<![endif]-->  
