<DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The Cope Evans Project </title>
    {% include 'top_links.html' %}
  </head>
  <body>
    {% include 'menu.html' %}
    <!-- background image overlay (semi transparent dark background image overlay) --> <!-- comment or remove if you don't want the overlay on top of the image --> 
    <div class="background-image-overlay"></div> <!-- outer background container - the element from where the default page background image is set, and the element which changes its background when scrolling through other sections (.section-wrapoer) that have attribute "data-custom-background-img" set. 
     - data-default-background-img attr is required for sections (.section-wrapper) below that have no custom background defined.
     - use same image in the backstretch.js code in the footer for IE8 or less browsers --> 
    <div id="outer-background-container" data-default-background-img="{{STATIC_URL}}images/other_images/White-Background-Xtra.jpg" style="background-image: url(https://ds:10000/file/%7B%7BSTATIC_URL%7D%7Dimages/other_images/White-Background-Xtra.jpg);"></div> <!-- end: #outer-background-container --> <!-- Outer Container --> 
    <div id="outer-container"> <!-- Left Sidebar --> <section id="left-sidebar"> <!-- Menu Icon for smaller viewports --> 
        <div id="mobile-menu-icon" class="visible-xs" onclick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div> <!-- ==================================================================
        MAIN MENU 
        ==================================================================  --> <!-- Each menu item links to a section (<article class="section-wrapper...") in the main content below.
             - set each <li> id to this format: "menu-item-[the id of the .section-wrapper to link to]".
             - set href of each <a> to the id of the .section-wrapper to link to --> 
        <ul id="main-menu"> 
          <li id="menu-item-intro" class="menu-item scroll"><a href="#intro">Project</a></li> 
          <li id="menu-item-text" class="menu-item scroll"><a href="#text">Project Questions</a></li> 
          <li id="menu-item-KAFKER" class="menu-item scroll"><a href="#KAFKER">Our Mission</a></li> 
          <li id="menu-item-arguments" class="menu-item scroll"><a href="#arguments">Abstract</a></li> 
          <li id="menu-item-carousel" class="menu-item scroll"><a href="#carousel">About Our Process</a></li> 
          <li id="menu-item-concl" class="menu-item scroll"><a href="#concl">Conclusion</a></li> 
          <li id="menu-item-cool" class="menu-item scroll"><a href="#cool">Bibliography</a></li> 
          <li id="menu-item-hi" class="menu-item scroll"><a href="#hi">About Us</a></li> <!-- to include a link which doesn't scroll to a section inside the page, remove the .scroll class from the <li> - example below --> <!-- <li id="menu-item-alt-page" class="menu-item"><a href="http://www.link.com">Outer Link</a></li> --> 
        </ul><!-- #main-menu --> <!-- ==================== END: MAIN MENU ==================== --> </section><!-- #left-sidebar --> <!-- end: Left Sidebar --> <!-- ==================================================================
      MAIN CONTENT
      ==================================================================  --> <!-- all the website sections are contained in the <article> tag with class ".section-wrapper" and a unique id.
           - to edit / remove / create website sections, you have to handle the content contained in these <article> tags --> <section id="main-content" class="clearfix"> <!-- ==================== SECTION TYPE: Intro Text ==================== --> <!-- This type of section should contain heading and intro paragraph. It can also include links to other sections --> <!-- FOR EACH SECTION <article class="section-wrapper".. :
             - remember to use a unique id, 
             - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section --> <article id="intro" class="section-wrapper clearfix" data-custom-background-img="{{STATIC_URL}}images/other_images/hsc0994_01.jpg"> 
          <div class="content-wrapper clearfix"> 
            <div class="col-sm-10 col-md-9 pull-right"> <!-- Start: Section content to edit --> <!-- <p> text in .feature-text is larger  --> <section class="feature-text"> 
                <h1>About the Project</h1> 
                <p>What is this project: The focus of our project are the changing networks and relationships during the Industrial Age for Quakers, as seen through the exchange of letters between the Cope Evans family, a prominent Philadelphia-area Quaker family, during 1790 to 1910.</p> 
                <p>How did networks change for Quakers from 1790 to 1910: They extended, accelerated, intensified, and diversified. But as stated before, we will narrow our view to intensifying networks. In claiming that the intensity of connections increased we suggest that connections became more interconnected and thicker, meaning that connections were more organized and had a greater influence on this group.
</p> 
                <p>Networks and relationships changed because of a demand specific to the time and group to engage with the outside world (relationship of Quakers to the Outside world) as seen through political, economic, and social motives and demonstrated in travel the changing times in areas of changing technology and a changing Philadelphia landscapes (relationship of Quakers to the time)</p> 
                <p>As a result,changing networks and relationships influenced:</p> 
                <p>Travel, Education, Fashion, Philanthropy</p> <!-- to add scrolling effects to links linking to same page section, add .link-scroll class --> <!-- content which will be shown in the popup/modal when clicking on the above link 
                     - it is important to set a unique id --> 
                <div class="content-to-populate-in-modal" id="modal-content-15"> 
                  <h1>What You Need to Know</h1> 
                  <p><img data-img-src="{{STATIC_URL}}images/other_images/ThomasPCope.jpg" class="lazy rounded_border hover_effect pull-right" alt="Lorem Ipsum" />In this project you first come to view this family first through the character of Thomas Pim Cope who rose to prominence from 1790 to 1830s by running a successful import and export business and established the family’s global connections. From there, we move into narratives of the later generations highlighted by the explorations and letters of Clementine Cope and the public works of Francis Reeve Cope during the Reconstruction.
</p> 
                  <h3>Title Second Section Of Text</h3> 
                  <p><img data-img-src="{{STATIC_URL}}images/other_images/transp-image3.png" class="lazy rounded_border hover_effect pull-left" alt="Lorem Ipsum" />This family and its collection are extremely important in answering scholarly questions unique to the Industrial Age, while providing context by including letters from generations and time periods that frame this moment. There are many questions this project has produced and will produce, and it was a relentless struggle to restrain ourselves. This project ought to serve as an invitation into more possibilities, questions, and scholarly research.  A possible question and caveat of this project is surrounded around how the Cope Evans family and their values or practices may differ from Quakers of their time due to their affluence.</p> 
                  <p>Caption for image here</p> <!-- End: Section content to edit --> 
                </div><!-- .col-sm-10 --> </section></div><!-- .content-wrapper --> 
          </div></article><!-- .section-wrapper --> <!-- ==================== END: SECTION TYPE: Intro Text ==================== --> <!-- ==================== SECTION TYPE: Text / Generic ==================== --> <!-- This type of section should contain generic content (text, image, etc) --> <!-- FOR EACH SECTION <article class="section-wrapper".. :
             - remember to use a unique id, 
             - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section --> <article id="text" class="section-wrapper clearfix" data-custom-background-img="{{STATIC_URL}}images/other_images/cope evans_0053.jpg"> 
          <div class="content-wrapper clearfix"> 
            <div class="col-sm-10 col-md-9 pull-right"> <!-- Start: Section content to edit --> 
              <h1 class="section-title">Project Questions</h1> 
              <p class="feature-paragraph"><img data-img-src="{{STATIC_URL}}images/other_images/hsc1072_01.jpg" class="lazy pull-right" alt="Lorem Ipsum" />How can the Cope-Evans family be used as an example to demonstrate how Quakers engaged with the outside world during the 19th century by extending, accelerating intensifying, and diversifying networks and interconnections?<a href="#"></a></p> 
              <p>Because it seems obvious that networks accelerated and extended during this time, our project attempts to prove the much harder argument that these networks and interconnections intensified, while the project momentarily glances at how these connections diversified in our cursory viewing of philanthropy.<a href="#carousel"></a></p> <!-- to make a popup/modal link add an onClick function call to the function: 
                     - populate_and_open_modal(event, '[id of popup content container - see below]') --> <!-- content which will be shown in the popup/modal when clicking on the above link 
                     - it is important to set a unique id --> 
              <div class="content-to-populate-in-modal" id="modal-content-1"> 
                <h1>What You Need To Know</h1> 
                <p><img data-img-src="{{STATIC_URL}}images/other_images/SampleLetter.jpg" class="lazy rounded_border hover_effect pull-right" alt="Lorem Ipsum" />In this project you first come to view this family first through the character of Thomas Pim Cope who rose to prominence from 1790 to 1830s  by running a successful import and export business that established the families global connections. He was the founder of the Cope packet line - a mercantile shipping firm based in Philadelphia and trading with England and the Far East. His sons, Henry and Alfred later took on the business themselves when their father withdrew from the company in 1829 (Special Collections).</p> 
                <h3>Other main characters featured in this project are  Clementine Cope and Francis Reeve Cope.</h3> 
                <p><img data-img-src="{{STATIC_URL}}images/other_images/transp-image3.png" class="lazy rounded_border hover_effect pull-left" alt="Lorem Ipsum" />Pop up Text Here</p> 
              </div><!-- #modal-content-1 --> <!-- End: Section content to edit --> 
            </div><!-- .col-sm-10 --> 
          </div><!-- .content-wrapper --> </article><!-- .section-wrapper --> <!-- ==================== END: SECTION TYPE: Text / Generic ==================== --> <!-- ==================== SECTION TYPE: Text / Generic ==================== --> <!-- This type of section should contain generic content (text, image, etc) --> <!-- FOR EACH SECTION <article class="section-wrapper".. :
             - remember to use a unique id, 
             - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section --> <article id="KAFKER" class="section-wrapper clearfix" data-custom-background-img="{{STATIC_URL}}images/other_images/dear papa.jpg"> 
          <div class="content-wrapper clearfix"> 
            <div class="col-sm-10 col-md-9 pull-right"> <!-- Start: Section content to edit --> 
              <h1 class="section-title">Our Mission</h1> 
              <p class="feature-paragraph"><img data-img-src="{{STATIC_URL}}images/other_images/hsc1533_01.jpg" class="lazy pull-right img-responsive" alt="Lorem Ipsum" />1. Demonstrate that Quakers during the Second Industrial Age engaged with the outside world more than Quakers of a previous era.</p> 
              <p>2. Demonstrate that this engagement that fostered intensified connections influenced a new Quaker lifestyle.
                      </p>
              <p>3. Argue that this new engagement and lifestyle created intensified connections and networks.</p><a href="#carousel"></a>
              <p>&nbsp;</p> <!-- to make a popup/modal link add an onClick function call to the function: 
                     - populate_and_open_modal(event, '[id of popup content container - see below]') --> <!-- content which will be shown in the popup/modal when clicking on the above link 
                     - it is important to set a unique id --> <!-- </div> #modal-content-1 --> <!-- End: Section content to edit --> 
            </div><!-- .col-sm-10 --> 
          </div><!-- .content-wrapper --> </article><!-- .section-wrapper --> <!-- ==================== END: SECTION TYPE: Text / Generic ==================== --> <!-- ==================== SECTION TYPE: Text / Generic ==================== --> <!-- This type of section should contain generic content (text, image, etc) --> <!-- FOR EACH SECTION <article class="section-wrapper".. :
             - remember to use a unique id, 
             - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section --> <article id="arguments" class="section-wrapper clearfix" data-custom-background-img="{{STATIC_URL}}images/other_images/Henry_Cope_Class_of_1869.jpg"> 
          <div class="content-wrapper clearfix"> 
            <div class="col-sm-10 col-md-9 pull-right"> <!-- Start: Section content to edit --> 
              <h1 class="section-title">Abstract</h1> 
              <p class="feature-paragraph"><img data-img-src="{{STATIC_URL}}images/other_images/hsc6083_01.jpg" class="lazy pull-right" alt="Lorem Ipsum" />Written accounts and data visualizations of materials from members of the Cope-Evans Family provide evidence in a transgenerational study into the development of networks and changes in relationships among Quakers produced by an unparalleled period of engagement in Quaker history. Beginning in circa 1790 to span the Second Industrial Age, Quakerism transformed from a theologically bordered religion and a cloistered community with few far reaching movements to incorporate parts of an outside world that Quakers previously fought against. The resulting changes in relationships, values, and networks would eventually diffuse into, although with much resistance, many aspects of the Quaker lifestyle like education, travel, fashion, and philanthropy.
                    </p>
              <p>Our argument, analysis, and re-narration of this Quaker history through the Cope-Evans family and Quakers as a whole, contribute insight into the mechanisms and products of this reaction by a specific group to this specific time.</p><a href="#carousel"></a>
              <p>&nbsp;</p> <!-- to make a popup/modal link add an onClick function call to the function: 
                     - populate_and_open_modal(event, '[id of popup content container - see below]') --> <!-- End: Section content to edit --> 
            </div><!-- .col-sm-10 --> 
          </div><!-- .content-wrapper --> </article><!-- .section-wrapper --> <!-- ==================== END: SECTION TYPE: Text / Generic ==================== --> <!-- ==================== SECTION TYPE: Carousel ==================== --> <!-- This type of section should contain slides with an icon, text, and an optional button --> <!-- FOR EACH SECTION <article class="section-wrapper".. :
             - remember to use a unique id, 
             - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section --> <article id="carousel" class="section-wrapper clearfix" data-custom-background-img="{{STATIC_URL}}images/other_images/Monongahela.jpg"> 
          <div class="content-wrapper clearfix"> <!-- Start: Section content to edit --> <!-- the carousel is initialised in the initialise-functions.js file, using the id of the container .carousel below --> 
            <div id="features-carousel" class="carousel slide with-title-indicators max-height" data-height-percent="70" data-ride="carousel"> <!-- Indicators - slide navigation --> <!-- each slide should have data-slide-to set to the index of the slide (starting from 0), and a short title link for the slide --> 
              <ol class="carousel-indicators title-indicators"> 
                <li data-target="#features-carousel" data-slide-to="0" class="active">Stage One</li> 
                <li data-target="#features-carousel" data-slide-to="1">Stage Two</li> 
                <li data-target="#features-carousel" data-slide-to="2">Stage Three</li> 
              </ol> <!-- Wrapper for slides --> 
              <div class="carousel-inner"> <!-- CAROUSEL SLIDE 1 --> 
                <div class="item active"> 
                  <div class="carousel-text-content"> <!-- start: slide content to edit --> <!-- if you want to use bootstrap glyphicons instead, replace the above <img> with the commented <span> below --> <!-- <span class="icon glyphicon glyphicon-record"></span> --> 
                    <h2 class="title">Stage One</h2> 
                    <p>The Cope Evans project began with careful readings of letters written and received by Cope Evans family members. From this document-based research we observed and recorded evidence of common themes, such as : religion/spirituality, education, literature and poetry, weather and nature, medicine and health, women, politics, traveling, and family. Upon further research and placing the documents in a large historical of the time period and of Quakers during that time period, we were able to narrow our view to education and travel.</p> <!-- to make a popup/modal link add an onClick function call to the function: 
                        - populate_and_open_modal(event, '[id of popup content container - see below]') --> <!-- content which will be shown in the popup/modal when clicking on the above link 
                        - it is important to set a unique id --> 
                    <div class="content-to-populate-in-modal" id="modal-content-3"> 
                      <h1>Lorem Ipsum</h1> 
                      <p><img data-img-src="{{STATIC_URL}}images/other_images/transp-image1.png" class="lazy rounded_border hover_effect pull-left" alt="Lorem Ipsum" />Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <a href="#">Suspendisse molestie lorem odio</a>, sit amet. </p> 
                      <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p> 
                      <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p> 
                    </div><!-- #modal-content-2 --> <!-- end: slide content to edit --> 
                  </div> 
                </div><!-- .item --> <!-- END: CAROUSEL SLIDE 1 --> <!-- CAROUSEL SLIDE 2 --> 
                <div class="item"> 
                  <div class="carousel-text-content"> <!-- start: slide content to edit --> <!-- if you want to use bootstrap glyphicons instead, replace the above <img> with the commented <span> below --> <!-- <span class="icon glyphicon glyphicon-stats"></span> --> 
                    <h2 class="title">Stage Two</h2> 
                    <p>Initially, we felt like we needed to separate the subjects to adequately derive a satisfactory and specific argument about either, but after reading secondary sources and by placing the letters in position generationally, we were inevitably compelled to analyze the collection differently, which ultimately formed the early foundations of an argument that established an indivisible relationship between education and travel. A relationship that showed that  a more modern education was both a byproduct of globalizing forces and a catalyst for travel and globalization.</p> <!-- to make a popup/modal link add an onClick function call to the function: 
                        - populate_and_open_modal(event, '[id of popup content container - see below]') --> <!-- content which will be shown in the popup/modal when clicking on the above link 
                        - it is important to set a unique id --> 
                    <div class="content-to-populate-in-modal" id="modal-content-3"> 
                      <h1>Suspendisse molestie</h1> 
                      <p><img data-img-src="{{STATIC_URL}}images/other_images/transp-image6.png" class="lazy rounded_border hover_effect pull-left" alt="Lorem Ipsum" />Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <a href="#">Suspendisse molestie lorem odio</a>, sit amet. </p> 
                      <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p> 
                      <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p> 
                    </div><!-- #modal-content-3 --> <!-- end: slide content to edit --> 
                  </div> 
                </div><!-- .item --> <!-- END: CAROUSEL SLIDE 2 --> <!-- CAROUSEL SLIDE 3 --> 
                <div class="item"> 
                  <div class="carousel-text-content"> <!-- start: slide content to edit --> <!-- if you want to use bootstrap glyphicons instead, replace the above <img> with the commented <span> below --> <!-- <span class="icon glyphicon glyphicon-lock"></span> --> 
                    <h2 class="title">Stage Three</h2> 
                    <p>After research in seemingly tangential areas a period-specific narrative started to become articulated. This longer historical narrative formed in reading about internal division of the 1827 separation and the conditions for the schism, the new dress and  lifestyle Thomas Pim Cope and other Quakers of the early 1800’s possessed, the formation and administrative policies of Quaker-based institutions, the infamous theological debate between Wilburites and Gurneyites, forms of Quaker philanthropy near and far, a resurgence in Quietest Movements during the 1860’s, as well as larger areas of study, like the Industrial Revolution, 19th and early 20th century Philadelphia- a city that changed demographically and infrastructurally, and even Victorian Gothic Architecture.</p> <!-- to make a popup/modal link add an onClick function call to the function: 
                        - populate_and_open_modal(event, '[id of popup content container - see below]') --> <!-- content which will be shown in the popup/modal when clicking on the above link 
                        - it is important to set a unique id --> 
                    <div class="content-to-populate-in-modal" id="modal-content-4"> 
                      <h1>This project has raised the following question:</h1> 
                      <p><img data-img-src="{{STATIC_URL}}images/other_images/transp-image7.png" class="lazy rounded_border hover_effect pull-left" alt="Lorem Ipsum" />How can the Cope-Evans family be used as an example to demonstrate how Quakers engaged with the outside world during the 19th century by extending, accelerating intensifying, and diversifying networks and interconnections?<a href="#"></a></p> 
                      <p>Because it seems obvious that networks accelerated and extended during this time, our project attempts to prove the much harder argument that these networks and interconnections intensified, while the project momentarily glances at how these connections diversified in our cursory viewing of philanthropy.</p> 
                      <p>&nbsp;</p> 
                    </div><!-- #modal-content-4 --> <!-- end: slide content to edit --> 
                  </div> 
                </div><!-- .item --> <!-- END: CAROUSEL SLIDE 3 --> 
              </div><!-- .carousel-inner --> <!-- Controls --> <!-- the left/right arrows to move from one slide to the other --> <a class="left carousel-control" href="#features-carousel" data-slide="prev"></a> <a class="right carousel-control" href="#features-carousel" data-slide="next"></a> 
            </div><!-- #about-carousel --> <!-- End: Section content to edit --> 
          </div><!-- .content-wrapper --> </article><!-- .section-wrapper --> <!-- ==================== END: SECTION TYPE: Carousel ==================== --> <!-- ==================== SECTION TYPE: Intro Text ==================== --> <!-- This type of section should contain heading and intro paragraph. It can also include links to other sections --> <!-- FOR EACH SECTION <article class="section-wrapper".. :
             - remember to use a unique id, 
             - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section --> <article id="concl" class="section-wrapper clearfix" data-custom-background-img="{{STATIC_URL}}images/other_images/cope evans_0049.jpg"> 
          <div class="content-wrapper clearfix"> 
            <div class="col-sm-10 col-md-9 pull-right"> <!-- Start: Section content to edit --> <!-- <p> text in .feature-text is larger  --> <section class="feature-text"> 
                <h1>Conclusion</h1> 
                <p>While this research is inconclusive and this argument incomplete, the theories suggested and analyses contributed offer a new interpretation of how the Industrial Age changed Quakerism. To summarize, the technological innovations, the changing landscapes of Philadelphia, and the new demand for engagement with the world outside Quakers communities that were unique to the Industrial Age incited the extension and intensification of networks pertaining to travel and communication, and the diversification of networks in the form of philanthropy. These changes directly affected how the Quaker lifestyle of select Quakers, notably the members of the Cope Evans family, was practiced in the form of travel, education, as well as other unexamined areas such as fashion, architecture, and the role of women. We invite research into the Cope Evans collection and into the larger themes that we were unable to explore.
</p> <!-- to add scrolling effects to links linking to same page section, add .link-scroll class --> <!-- End: Section content to edit --> </section></div><!-- .col-sm-10 --> 
          </div><!-- .content-wrapper --> </article><!-- .section-wrapper --> <!-- ==================== END: SECTION TYPE: Intro Text ==================== --> <!-- ==================== SECTION TYPE: Text / Generic ==================== --> <!-- This type of section should contain generic content (text, image, etc) --> <!-- FOR EACH SECTION <article class="section-wrapper".. :
             - remember to use a unique id, 
             - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section --> <article id="cool" class="section-wrapper clearfix" data-custom-background-img="{{STATIC_URL}}images/other_images/hsc0733_02.jpg"> 
          <div class="content-wrapper clearfix"> 
            <div class="col-sm-10 col-md-9 pull-right"> <!-- Start: Section content to edit --> 
              <h1 class="section-title">Bibliography </h1> 
              <p class="feature-paragraph">&nbsp;</p>
              <h5>Secondary Literature</h5>
              <p>&nbsp;</p> 
              <p>
The Accustomed Message: The Cope Evans Family Papers Digitization Project. N.p.: Haverford College, 2009. Print. </p> 
              <p>Angell, Stephen Ward, and Pink Dandelion. The Oxford Handbook of Quaker Studies. Oxford: Oxford UP, 2013. Print.</p> 
              <p>Barbour, Hugh, and J. William Frost. The Quakers. New York: Greenwood, 1988. Print.</p> 
              <p>Benjamin, Philip S. The Philadelphia Quakers in the Industrial Age, 1865-1920. Philadelphia: Temple UP, 1976. Print.</p> 
              <p>Smith, David G. On the Edge of Freedom: The Fugitive Slave Issue in South Central Pennsylvania, 1820-1870. New York: Fordham UP, 2013. 73. Print. </p> 
              <p>Weigley, Russell Frank., Nicholas B. Wainwright, and Edwin Wolf. Philadelphia: A 300 Year History. New York: W.W. Norton, 1982. Print. </p> <!-- to make a popup/modal link add an onClick function call to the function: 
                     - populate_and_open_modal(event, '[id of popup content container - see below]') --> <!-- <p><a href="" onclick="populate_and_open_modal(event, 'modal-content-17');" class="btn btn-outline-inverse btn-sm">read more</a></p> --> <!-- content which will be shown in the popup/modal when clicking on the above link 
                     - it is important to set a unique id --> 
              <div class="content-to-populate-in-modal" id="modal-content-17"> 
                <h1>Title</h1> 
                <p><img data-img-src="{{STATIC_URL}}images/other_images/transp-image4.png" class="lazy rounded_border hover_effect pull-right" alt="Lorem Ipsum" />But due to an increase need to engage and interact with the rapidly globalizing world during the Second Industrial Age, the adoption of worldliness into the Quaker education and culture induced theological and social disputes that potentially had contributing effects in producing the 1827 Separation the Wilburite and Gurneyite schism.
</p> 
                <p>In the wake of these divisions, Quaker education became increasingly influenced by the world outside the Quaker community through the 19th century and early 20th century, while at the same time opposite forces attempted to entrench and insert guarded education into mainstream Quaker culture and education, as observed in the strong Quietist revival, and exemplified in the microcosms of Quaker institutions like the Westtown School, Haverford, Swarthmore, and Bryn Mawr founded during the Second Industrial Age. Examining administrative policies, curricula, and campus life, yields another dimension into how education was influenced by this new world and how it help produce more extensive and diversified networks by impelling new interactions and travel.
</p> 
                <h3>Duis dictum lorem metus, vitae dapibus</h3> 
                <p><img data-img-src="{{STATIC_URL}}images/other_images/transp-image3.png" class="lazy rounded_border hover_effect pull-left" alt="Lorem Ipsum" />Sed auctor urna mi, sed fringilla felis vulputate nec. Cras eu nibh id quam pretium convallis. Donec ante enim, placerat nec sagittis sit amet, tempor in velit. Maecenas ultricies commodo lacus id porta. Suspendisse eros elit, lacinia vitae erat vitae, egestas accumsan nunc. Maecenas dictum odio ipsum, non volutpat erat consequat tempor. Pellentesque sed malesuada turpis. Quisque eget lacus sit amet dui feugiat molestie sit amet eget purus. Morbi eget neque nec lectus tempus sagittis nec at ante. </p> 
                <p>Etiam scelerisque lacus tempor, rhoncus diam vel, gravida felis. Fusce tristique sem et leo aliquam vulputate. Ut eget orci in sapien commodo fringilla. Ut luctus faucibus viverra. Quisque ut ante eget libero rutrum imperdiet. Morbi in diam bibendum, venenatis arcu sed, consequat libero. Nulla imperdiet, ipsum et adipiscing pulvinar, nibh metus porta mauris, et vestibulum dolor sapien sit amet justo. In dignissim leo nec erat faucibus volutpat.</p> 
              </div><!-- #modal-content-1 --> <!-- End: Section content to edit --> 
            </div><!-- .col-sm-10 --> 
          </div><!-- .content-wrapper --> </article><!-- .section-wrapper --> <!-- ==================== END: SECTION TYPE: Text / Generic ==================== --> <!-- ==================== SECTION TYPE: Text / Generic ==================== --> <!-- This type of section should contain generic content (text, image, etc) --> <!-- FOR EACH SECTION <article class="section-wrapper".. :
             - remember to use a unique id, 
             - (optional) set a "data-custom-background-img" attribute with a link to custom background image which will be used when the viewer scrolls to this section --> <article id="hi" class="section-wrapper clearfix" data-custom-background-img="{{STATIC_URL}}images/other_images/Saranak_and_Tuscarora.jpg"> 
          <div class="content-wrapper clearfix"> 
            <div class="col-sm-10 col-md-9 pull-right"> <!-- Start: Section content to edit --> 
              <h1 class="section-title">About Us</h1> 
              <p class="feature-paragraph"><img data-img-src="{{STATIC_URL}}images/other_images/Screen Shot 2014-08-01 at 3.44.56 PM.png" class="lazy pull-left" style="float: none !important;" alt="Lorem Ipsum" />
                Cormac Quinn Rada'17
                    </p>
              <p class="feature-paragraph"><img data-img-src="{{STATIC_URL}}images/other_images/head_shot_Brandon.png" class="lazy pull-left" style="float: none !important;" alt="Lorem Ipsum" />Brandon Smith'16 </p> 
              <p class="feature-paragraph"><img src="{{STATIC_URL}}images/other_images/Screen%20Shot%202014-08-01%20at%203.42.32%20PM.png" class="lazy pull-left" style="float: none !important;" alt="Lorem Ipsum" /> Andrew Kafker '17 </p> 
              <h4></h4> 
              <p>&nbsp;</p> <!-- to make a popup/modal link add an onClick function call to the function: 
                     - populate_and_open_modal(event, '[id of popup content container - see below]') --> 
            </div><!-- #modal-content-1 --> <!-- End: Section content to edit --> 
          </div><!-- .col-sm-10 --> </article></section></div><!-- .content-wrapper --> <!-- .section-wrapper --> <!-- ==================== END: SECTION TYPE: Text / Generic ==================== --> <!-- #main-content --> <!-- ==================== END: MAIN CONTENT ==================== --> <!-- Footer --> <section id="footer"> <!-- Go to Top --> 
      <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div> <!-- ==================================================================
        SOCIAL ICONS
        ==================================================================  --> <!-- Each social icon item consists of the following:
             - Link to the social page in href of <a>
             - social icon in the <img> - a list of social icons options are found in the directory {{STATIC_URL}}images/theme_images/social_icons/ --> 
      <ul class="social-icons"> 
        <li><a href="#" target="_blank" title="Facebook"><img src="{{STATIC_URL}}images/theme_images/social_icons/facebook.png" alt="Facebook" /></a></li> 
        <li><a href="#" target="_blank" title="Twitter"><img src="{{STATIC_URL}}images/theme_images/social_icons/twitter.png" alt="Twitter" /></a></li> 
        <li><a href="#" target="_blank" title="Google+"><img src="{{STATIC_URL}}images/theme_images/social_icons/googleplus.png" alt="Google+" /></a></li> 
      </ul> <!-- ==================== END: Social Icons ==================== --> <!-- copyright text --> 
      <div class="footer-text-line">2014 Twilli | Air</div> </section> <!-- end: Footer --> <!-- #outer-container --> <!-- end: Outer Container --> <!-- Modal --> <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it --> 
    <div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true"> 
      <div class="modal-dialog"> 
        <div class="modal-content"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button> 
          <div class="modal-body"> </div><!-- .modal-body --> 
        </div><!-- .modal-content --> 
      </div><!-- .modal-dialog --> 
    </div><!-- .modal -->    
    {% include 'bottom_javascript.html' %}
  


</doctype></body>
</html>
