<html>
<head>
    <title>Cope Evan's Family Project</title>
    {% include "top_links.html" %}
    <link href="{{STATIC_URL}}css/index.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
	$(document).ready(function() {
	    $(window).scroll(function() {
		if ($("nav").offset().top - $(window).scrollTop() < 0) {
		    $("nav").css("position","fixed");
		    $("nav").css("top","0");
		}
		else if ($(window).scrollTop() < 150) {
		    $("nav").css("position","relative");
		}
	    });
	});
    </script>
</head>
<body>
    <div id="wrapper">
	<div id="title">
	The Cope Evans Project:
	</div>
	<div id="subtitle">
	A History of Quaker Networks During the Industrial Age
	</div>
    </div>
    {% include "menu.html" %}
    <div id="content">
    <h3>What is The Cope Evans Project?</h3>
</body>
  <p>  The Cope Evans Project is a Digital Humanities project sponsored by Haverford Libaries through the Special Collections and Digital Scholarship Departments. This academic project is based on a collection of family papers, The Cope Evans Papers, that was generously donated to the school's Special Collections. </p>
    <p>Rather than writing an academic paper or digitizing more material,we set out to make a virtual exhibit of our research, data visualizations, and analyses. Throughout these pages you will see images of the collection's materials, most notably the letterheads that are featured as some of the backgrounds. Other imporatant attributes of this project are data visualizations that were developed from data collected within the digitized collection. 
     </p>   <p>
These visualizations are both exploratory and argumentative, so please feel free to click on the visualizations and play around!  While you are navigating through the website, you will notice that most names are underlined. If you click on one of these names, a drop down menu will appear underneath their name with a list of visualizations that are connected to that person. To select a visualization, simply click on the name within the menu. This functionality carries on even within visualizations in order to make navigation between visualizations easier. Our hope is that while exploring the site, you will begin to create your own narrative about the Cope and Evans family, as you begin to recognize all the members of the Cope Evans family, and see just how intertwined each actor is to the larger story.</p>
    
    
  <p> <h3>Features</h3>    
<p> <p> 
<h6>Visualizations:</h6></p> 
 <p>  <s> PageRank</s> - Uses a PageRank formula to shows the major actors and their importance in the letter network</p>
  <p>  <s> Letter Bar Chart by Letter Subeject</s>- Uses texual analysis to shows the subjects of letters over each decade</p>
   <p> <s>Family Travels Map</s> - Uses data collected through mentions of travel in the collection's of letters and the post cards in Clementine Cope's scrapbook, while plotting them over each decade</p>
 <p>   <s>Letter Map</s> Uses geographical data of each writer and recipient of the letter and plots it on a map to show the complete breadth of this extensive network. </p>
    
<p>
  </p>  
    <h6>Other Features</h6>
    <p><s>Timeline of Inventions of the Industrial Revolution </s></p>
    <p><s>Philadelphia Street Timelapse</s></p>
   <p><s>Clementine Cope's Virtual Scrapbook<s></p>
    <p><s>Textual Analysis of Thee and Thy</s></p>
    <p></p>
    <p></p>
    
    
</html>
