<!DOCTYPE html>
<html>
<head>
    <title>Letter Frequency Map</title>
    <link href="{{STATIC_URL}}css/misc/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/misc/custom.css" type="text/css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/frequencyMap/main.css" type="text/css" rel="stylesheet">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
</head>
<body>
    {% include "menu.html" %}
    <div id='map'></div>
    <div id='info' style="display:none;">{{ mapFile }}</div>
    <div id='places'>
	{% for place in place_list %}
	<div class='place'>{{ place.name }} <br> Count: {{ place.count }}</div>
	{% endfor %}
    </div>
    <script src="{{STATIC_URL}}js/frequencyMap/map.js"></script>
</body>
</html>
