<nav class="navbar-default navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	<a href="/cope/" class="navbar-brand">Cope Evans</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
	    <li><a href="/cope/page/1/">Introduction</a></li>
	    <li><a href="/cope/page/2/">Project Overview</a></li>
	    <li><a href="/cope/page/3/">Industrial Age</a></li>
	    <li><a href="/cope/page/4/">Industrial Quakers</a></li>
	    <li><a href="/cope/page/5/">Changing Quaker Lifestyle</a></li>
	    <li><a href="/cope/page/6/">Conclusion</a></li>
	</ul>
    </div>
  </div>
</nav>
<div class="spacer"></div>
