<!DOCTYPE html>
<html>
<head>
    <title>Page Rank</title>
    <meta charset="utf-8">
    {% include "top_links.html" %}
    {% include "libraries.html" %}
    <link href="{{STATIC_URL}}css/pageRank/main.css" rel="stylesheet" type="text/css">
    <script src="{{STATIC_URL}}js/pageRank/forceHighlight.js" defer></script>
    <script src="{{STATIC_URL}}js/pageRank/peopleInteract.js" defer></script>
</head>
<body>
    {% include "menu.html" %}
    <div class="button-top" id="select">Select People</div>
    <div class="button-top" id="info">Info</div>
    <div id="graph"></div>
    <div id="people"></div>
</body>
</html>
