<html>
<head>
  <title>Family Travels</title>
  {% include "top_links.html" %}
  <link href="{{STATIC_URL}}css/travels2/brush.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}css/travels2/travel.css" rel="stylesheet" type="text/css">
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
  {% include "libraries.html" %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
  <script src="{{STATIC_URL}}js/travels2/init.js" rel="javascript" type="text/javascript" defer></script>
</head>
<body style="color:black;">
    {% include "menu.html" %}
    <div id="people">
    </div>
    <div id="map">  
	<script src="{{STATIC_URL}}js/travels2/travel.js" rel="javascript" type="text/javascript" defer></script>
    </div>
    <div id="info">Info</div>
    <div id="timeline" style="color:white;"></div>
</body>
</html>
