<html>
<head>
    <title>{{ person.name }}'s Page</title>
    <link href="{{STATIC_URL}}css/viz/viz.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1>{{ person.name }}'s Visualizations</h1>
<ul>
  <a href="/letterNetwork/{{ person.id }}/"><li>Letter Network</li></a>
  <a href="/frequency/{{ person.id }}/"><li>Letter Frequency</li></a>
  <a href="/mapFrequency/{{ person.id }}/"><li>Map Frequency</li></a>
  <li>Travels</li>
  <a href="/dendro/{{ person.id }}/"><li>Family Dendrogram</li></a>
</ul>
<h2>Letters</h2>
<div class="letter-div">
<h3>Letters Sent</h3>
{% for letter in letters_sent %}
<div class="letter">
    <div class="author">Author: {{ letter.author.name }}</div>
    <div class="recipient">Recipient: {{ letter.recipient.name }}</div>
    <div class="origin">Origin: {{ letter.origin.name }}</div>
    <div class="destination">Destination: {{ letter.destination.name }}</div>
    <div class="date">Date Sent: {{ letter.date }}</div>
    <div class="link-div">Link: <a class="letter-link" href="{{ letter.url }}">{{ letter.url }}</a></div>
</div>
{% endfor %}
<h3>Letters Received</h3>
{% for letter in letters_received %}
<div class="letter">
    <div class="author">Author: {{ letter.author.name }}</div>
    <div class="recipient">Recipient: {{ letter.recipient.name }}</div>
    <div class="origin">Origin: {{ letter.origin.name }}</div>
    <div class="destination">Destination: {{ letter.destination.name }}</div>
    <div class="date">Date Sent: {{ letter.date }}</div>
    <div class="link-div">Link: <a class="letter-link" href="{{ letter.url }}">{{ letter.url }}</a></div>
</div>
{% endfor %}
</div>
</body>
</html>
